@charset "UTF-8";

/*Fuentes*/

@font-face {
    font-family: "Adelle Sans Regular";
    src: url(type/AdelleSansEXT-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Adelle Sans Bold";
    src: url(type/AdelleSansEXT-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Adelle Sans Italic";
    src: url(type/AdelleSansEXT-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Adelle Sans Regular', sans-serif;
    font-size: 1rem;
    text-wrap-style: balance;
    margin: 15px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 206, 238);
}

/*Aplicaciones*/

h1 {
    font-family: "Adelle Sans Bold", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
}

h2,
h3,
h4 {
    font-family: 'Adelle Sans italic', sans-serif;
    font-size: 1.4rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
footer {
    color: rgb(226, 43, 150);
}

#hiro {
    background-color: antiquewhite;
    line-height: 1rem;
    height: 10rem;
    box-sizing: border-box;
}

footer {
    font-family: "Adelle Sans Regular", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    height: 7rem;
    padding: 0.1rem 0rem 0rem 0rem;
    background-color: antiquewhite;
    margin: 0rem 0rem 1rem 20rem 
}

ul {
    line-height: 0.6rem;
    list-style: circle;
}

#info,
footer {
    min-width: 360px;
    max-width: 700px;
}

nav {
    font-size: 0.8rem;
    display: flex;
    gap: 44px;
}

#hiro,
#info {
    display: flex;
}



h4 {
    font-size: 1rem;
    color: blueviolet;
    width: 13rem;
}